.box{
    width: 100px;
    height: 80px;
    background-color: brown;
    margin: 20px;
}

.box-1{
    border: 4px solid black;
}

.box-2{
    border: 4px double black;
    display: inline-block;
    width: 100px;
    height: 80px;
}

.box-3{
    display: inline-block;
    border: 4px dashed black;
}

.box-4{
    display: inline-block;
    border: 4px dotted black;
}

.box-5{
    display: inline-block;
}

.box-6{
    width: 300px;
    height: 300px;
    border-left: 10px solid green;
    border-right: 10px solid grey;
    border-top: 10px solid blue;
    border-bottom: 10px solid yellow;
    outline-style: solid;
    outline-color: purple;
    outline-width: 15px;
    background-color: orange;
    padding: 10px;
    margin-top: 15px;

}